{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 50.97545356970902,
    "longitude": 3.5325551033020024,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "Europe/Brussels",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "BE",
    "language": "en",
    "radius": 100
  }
}